<!--<div *ngFor="let nomVoiture of namesList">
  <app-machine [name]="nomVoiture"></app-machine>
</div>-->
<!--<app-machine [name]="voit2"></app-machine>
<app-machine [name]="voit3"></app-machine>-->
<!-- <app-machine *ngFor="let machine of listeMachine; let i = index"
 [name]="machine.name" 
 [type]="machine.type" 
 [isRunning]="machine.isRunning"
 [index]="i"></app-machine> -->
 <div>
   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <ul class="navbar-collapse">
        <li><a routerLink="auth">Authentification</a></li>
        <li><a routerLink="machine">Véhicules</a></li>
       </ul>
     </div>
   </nav>
 </div>
 <div>
  <app-render></app-render>
 </div>